<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JWT" value="{&quot;Audience&quot;:&quot;TestAudience&quot;,&quot;Issuer&quot;:&quot;TestIssuer&quot;,&quot;Key&quot;:&quot;TestKey&quot;}"/>
  </appSettings>
  <connectionStrings>
    <add name="UMSDB" connectionString="Data Source=.;Initial Catalog=UMSDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>